@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #333333;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/*header*/

.page-header {
  width: 1200px;
  font-weight: 700;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  width: 550px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 265px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.navigation-btn-number {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  background: #7DB54F;
  color: #FFFFFF;
}

.navigation-link-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  color: #FFFFFF;
}

/*main-index*/

.main-index {
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.main-index-header {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-index-header-img {
  display: block;
  margin: 0 auto;
}

.main-index-title {
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.main-index-header p {
  width: 720px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantages {
  width: 1200px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #FFFFFF;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-item-image {
  width: 800px;
}

.advantages-img {
  display: block;
}

.advantages-title {
  width: 250px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
}

.advantages-item-cold-light .advantages-description{
  width: 220px;
  margin: 0 auto;
}

.advantages-item-cold-light .advantages-text {
  color: #FFFFFF;
}

.advantages-item-cold-light,
.advantages-item-cold-light h2 {
  background: #83B3D3;
  color: #FFFFFF;
}

.advantages-item-cold-light12 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-cold-light20 {
  background: rgba(131, 179, 211, 0.2);
}

.hotel-search {
  width: 1200px;
  margin-top: 0px;
  text-align: center;
  background-color: #FFFFFF;
}

.hotel-search-title {
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
}

.hotel-search-link {
  width: 575px;
  margin: 0 auto;
  padding: 15px 150px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756257;
}

.index-subscribe-newsletter {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/subscribe-newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index-subscribe-newsletter-title {
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.index-subscribe-newsletter-description {
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-newsletter-container {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.main-index-input {
  width: 600px;
  background: #F2F2F2;
}

.button-subscribe {
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
}

/* main-catalog */

.main-catalog {
  width: 1200px;
}

.catalog-hotel-filter {
  width: 1200px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #000000;
  background: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header-title {
  width: 528px;
  margin-left: 70px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  width: 200px;
  display: flex;
  margin-left: 70px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-hotel-filter-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.catalog-hotel-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.button-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
}

.button-reset {
  background-color: inherit;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.catalog-sorting {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  color: #000000;
  background: #FFFFFF;
}

.catalog-sorting-title {
  width: 337px;
  margin-right: 190px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  margin-right: 80px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-hotel {
  width: 1060px;
  margin: 0 auto;
  background: #FFFFFF;
}

.catalog-hotel-list {
  width: 1060px;
  margin: 0 auto;
}

.catalog-hotel-card {
  width: 340px;
}

.catalog-hotel-link {
  text-decoration: none;
}

.catalog-hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.catalog-hotel-text {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-hotel-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756257;
}

.catalog-hotel-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
}

.catalog-hotel-button-checked {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
}

.pagination-more-container {
  width: 1060px;
  margin: 0 auto;
}

.pagination-more {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background: #83B3D3;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.pagination-item {
  background: #83B3D3;
}

.pagination-link {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-current {
  background: #F2F2F2;
}

.pagination-current a {
  color: #000000;
}

.pagination-label-description {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-subscribe-newsletter {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
}

.catalog-subscribe-newsletter-title {
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-subscribe-newsletter-description {
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.catalog-index-input {
  width: 600px;
  background: #F2F2F2;
}

/*footer*/

.page-footer {
  width: 1200px;
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  width: 1200px;
}

.socials {
  width: 107px;
  margin: 0 61px 0 72px;
}

.contacts {
  width: 720px;
  margin: 0 53px 0 0;
  text-align: center;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.htmlacademy-logo {
  width: 115px;
  margin: 0 72px 0 0;
}
