@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #333333;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* line break */
.decorative {
  display: block;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/*header*/

.page-header {
  width: 1200px;
  font-weight: 700;
  background-color: #FFFFFF;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.sedona-logo {
  position: absolute;
  padding: 0;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 750px;
  margin: 0;
  margin-left: 169px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 265px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}
.navigation-link-current::before {
  content: "";
  position: absolute;
  left: 17px;
  right: 17px;
  height: 2px;
  background: #756257;
  bottom: 0px;
}

.navigation-icon {
  position: absolute;
  top: 23px;
  left: 12px;
  fill: #000000;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: #756257;
  opacity: 0.3;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}

.navigation-user .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-btn-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 14px;
  left: 25px;
  min-height: 20px;
  min-width: 20px;
  padding: 0 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  background: #7DB54F;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-icon:active + .navigation-btn-number {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  margin-top: 14px;
  padding: 9px 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  color: #FFFFFF;
  border-radius: 4px;
}

.navigation-link-button:hover {
  background: #615048;
}

.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
}

.navigation-link-button:focus {
  outline: 3px solid #83B3D3;
}

/*main-index*/

.main-index {
  width: 1200px;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-index-header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 79px;
  text-align: center;
  background-color: #FFFFFF;
  background: url("../images/divider.svg") 100% 428px no-repeat,
              url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto;
}

.main-index-header-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 146px;
}

.main-index-title {
  font-family: "PT Sans", sans-serif;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.main-index-header p {
  width: 720px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantages {
  width: 1200px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #FFFFFF;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 98px;
  padding-bottom: 10px;
}

.housing-icon {
  margin-bottom: 19px;
}

.food-icon {
  margin-top: 2px;
  margin-bottom: 19px;
}

.souvenirs-icon {
  margin-top: -4px;
  margin-bottom: 19px;
}

.advantages-item-with-icon {
  padding-top: 89px;
}

.advantages-item-with-icon .advantages-title {
  width: 250px;
  margin-bottom: 20px;
}

.advantages-item-image {
  width: 800px;
  height: 384px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages-img {
  display: block;
}

.advantages-title {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
}

.advantages-item-cold-light .advantages-description {
  width: 220px;
  margin: 0 auto;
}

.advantages-item-cold-light .advantages-text {
  color: #FFFFFF;
}

.advantages-item-cold-light,
.advantages-item-cold-light h2 {
  background: #83B3D3;
  color: #FFFFFF;
}

.advantages-item-cold-light12 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-cold-light20 {
  background: rgba(131, 179, 211, 0.2);
}

.hotel-search {
  width: 1200px;
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
  background-color: #FFFFFF;
}

.hotel-search-title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  width: 720px;
  min-height: 52px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-size: 22px;
  text-align: center;
}

.hotel-search-description .decorative {
  margin-left: -13px;
}

.hotel-search-link {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 575px;
  min-height: 60px;
  margin: 0 auto;
  padding: 14px 10px 9px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756257;
  border-radius: 10px;
}

.hotel-search-link:hover {
  background: #615048;
}

.hotel-search-link:focus {
  outline: 3px solid #83B3D3;
}

.hotel-search-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
}

.index-subscribe-newsletter {
  width: 1200px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/subscribe-newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index-subscribe-newsletter-title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.index-subscribe-newsletter-description {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-newsletter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  min-height: 60px;
  margin: 0 auto;
}

.main-index-input {
  width: 600px;
  box-sizing: border-box;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.main-index-input:hover {
  background: #E6E6E6;
}

.main-index-input:focus {
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}


/* Стилизация ошибки ввода */
.main-index-input-invalid {
  outline: 2px solid #FF5757;
  background: #FFFFFF;
}

.button-subscribe {
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 0 10px 10px 0;
  border: none;
}

.button-subscribe:hover {
  background: #68A2CA;
}

.button-subscribe:focus {
  outline: 3px solid #756257;
}

.button-subscribe:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

/* main-catalog */

.main-catalog {
  width: 1200px;
}

.catalog-hotel-filter {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 35px 71px 83px 71px;
  color: #FFFFFF;
  background-color: #000000;
  background: url("../images/catalog-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.catalog-header-title {
  width: 528px;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-width: 200px;
  margin: 0;
  margin-top: -11px;
  margin-left: 2px;
  padding: 0;
  margin-bottom: 45px;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-item:first-child::before {
  content: url("../images/icons/right-arrow.svg");
  position: absolute;
  left: 25px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.catalog-hotel-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.catalog-hotel-filter-group {
  width: 150px;
  margin: 0;
  margin-right: 67px;
  padding: 0;
  border: none;
}

.catalog-hotel-filter-group:nth-child(2) {
  margin-right: 163px;
}

.control {
  display: block;
  position: relative;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-mark:hover {
  background: rgba(255, 255, 255, 0.6);
}

.control-checkbox:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-mark:active {
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

.control-checkbox:checked + .control-mark {
  background-image: url(../images/icons/check-mark.svg);
  background-repeat: no-repeat;
}

.catalog-hotel-filter-group:nth-child(2) .control-mark {
  border-radius: 50%;
}

.control-radio:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-radio:focus:not(:checked) + .control-mark {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.control-radio:checked + .control-mark {
  background-image: url(../images/icons/dot.svg);
  background-repeat: no-repeat;
}

.catalog-hotel-filter-price {
  width: 287px;
  margin: 0;
  margin-right: 79px;
  padding: 0;
  border: none;
}

.catalog-hotel-filter-price .catalog-hotel-filter-title {
  margin-bottom: 34px;
}

.catalog-hotel-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 287px;
  height: 48px;
  margin-bottom: 29px;
}

.range-input {
  width: 143px;
  padding: 0;
  padding-left: 15px;
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  border: 2px solid #FFFFFF;
  outline: 3px solid #81B3D2;
  outline-offset: -4px;
  -webkit-box-shadow: 0px 0px 0px 3px #81B3D2;
          box-shadow: 0px 0px 0px 3px #81B3D2;
}

.range-input:active {
  background: #756257;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.range-input:first-child {
  border-right: 1px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
}

.range-input:last-child {
  border-left: 1px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.range-input:first-child::-webkit-input-placeholder {
  padding-left: 93px;
}

.range-input:first-child::-moz-placeholder {
  padding-left: 93px;
}

.range-input:first-child:-ms-input-placeholder {
  padding-left: 93px;
}

.range-input:first-child::-ms-input-placeholder {
  padding-left: 93px;
}

.range-input:first-child::placeholder {
  padding-left: 93px;
}

.range-input:last-child::-webkit-input-placeholder {
  padding-left: 88px;
}

.range-input:last-child::-moz-placeholder {
  padding-left: 88px;
}

.range-input:last-child:-ms-input-placeholder {
  padding-left: 88px;
}

.range-input:last-child::-ms-input-placeholder {
  padding-left: 88px;
}

.range-input:last-child::placeholder {
  padding-left: 88px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color:rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color:#FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color:#FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  left: 217px;
  top: -8px;
}

.catalog-hotel-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

.catalog-hotel-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.form-button-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 160px;
}

.button-submit {
  width: 160px;
  min-height: 48px;
  padding: 0;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border: none;
  border-radius: 4px;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset {
  width: 160px;
  padding: 0;
  font-family: inherit;
  background-color: inherit;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
}

.button-reset:active {
  opacity: 0.3;
  outline: none;
}

.catalog-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 53px;
  color: #000000;
  background: #FFFFFF;
}

.catalog-sorting-title {
  width: 338px;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-right: 193px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  font-family: inherit;
  padding-left: 16px;
  margin-right: 80px;
  font-size: 18px;
  line-height: 23px;
  background-image: url("../images/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #333333;
  border: 2px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.select-control:hover {
  border: 2px solid #83B3D3;
}

.select-control:focus {
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  color: #E6E6E6;
}

.catalog-sorting-button {
  width: 48px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  outline: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-sorting-button:hover {
  outline: 2px solid #83B3D3;
}

.catalog-sorting-button:focus {
  outline: 2px solid #83B3D3;
}

.catalog-sorting-button:active {
  outline: 2px solid #000000;
}

.catalog-sorting-button:first-of-type {
  background-image: url("../images/icons/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.catalog-sorting-button:nth-of-type(2) {
  background-image: url("../images/icons/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.catalog-sorting-button:nth-of-type(3) {
  background-image: url("../images/icons/mode-list.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.current-button {
  outline: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.catalog-sorting-button:last-child {
  margin-right: 0;
}

.catalog-hotel {
  width: 1060px;
  margin: 0 auto;
  background: #FFFFFF;
}

.catalog-hotel-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 299px 58px 299px 58px 299px;
  grid-template-columns: repeat(3, 299px);
  gap: 50px 58px;
  width: 1060px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 34px;
  padding: 20px;
  padding-left: 24px;
  list-style-type: none;
}

.catalog-hotel-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 133px 25px 140px;
  grid-template-columns: 133px 140px;
  -ms-grid-rows: 206px 16px auto 16px auto 16px auto;
  grid-template-rows: 206px auto auto auto;
  gap: 16px 25px;
  width: 299px;
}

.catalog-hotel-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog-hotel-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog-hotel-card > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.catalog-hotel-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.catalog-hotel-card > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.catalog-hotel-card > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.catalog-hotel-card > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.catalog-hotel-card > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.catalog-hotel-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.catalog-hotel-link:hover {
  opacity: 0.6;
}

.catalog-hotel-link:focus {
  outline: 3px solid #83B3D3;
}

.catalog-hotel-link:active {
  opacity: 0.3;
}

.catalog-hotel-title {
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.catalog-hotel-text {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-hotel-more {
  display: inline-block;
  padding: 9px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756257;
  border-radius: 4px;
}

.catalog-hotel-more:hover {
  background: #615048;
}

.catalog-hotel-more:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.catalog-hotel-more:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3)
}

.catalog-hotel-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border: none;
  border-radius: 4px;
}

.catalog-hotel-button:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
}

.catalog-hotel-button:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.catalog-hotel-button:active {
  background: #68A2CA;
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-hotel-button-checked {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
  border: none;
  border-radius: 4px;
}

.catalog-hotel-button-checked:hover {
  background: #6C9E42;
}

.catalog-hotel-button-checked:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}

.catalog-hotel-button-checked:active{
  background: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-hotel-star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1 / -1;
}

.star {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 9px;
  margin-right: 6px;
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
}

.rating {
  width: 160px;
  padding: 7px 0;
  margin-left: auto;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-more-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.pagination-more {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-right: 299px;
  padding-left: 2px;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 5px;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 15px 5px 0 5px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link:hover {
  background: #68A2CA;
  border-radius: 4px;
}

.pagination-link:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 4px;
}

.pagination-link:active {
  background: #68A2CA;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background: #F2F2F2;
}

.pagination-current .pagination-link:hover {
  background: #F2F2F2;
}

.pagination-current a {
  color: #000000;
}

.pagination-label-description {
  display: inline-block;
  margin-top: 16px;
  margin-right: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-select-control {
  width: 160px;
  height: 48px;
  padding-left: 17px;
  font-family: inherit;
  font-size: 18px;
  background-image: url("../images/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border-radius: 4px;
}

.catalog-subscribe-newsletter {
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 141px;
  text-align: center;
  background: #FFFFFF;
}

.catalog-subscribe-newsletter-title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-subscribe-newsletter-description {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.catalog-index-input {
  width: 600px;
  box-sizing: border-box;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.catalog-index-input:hover {
  background: #E6E6E6;
}

.catalog-index-input:focus {
  outline: 3px solid #83B3D3;
}

/*footer*/

.page-footer {
  width: 1200px;
  background-color: #FFFFFF;
}

.page-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.socials {
  width: 117px;
  margin: 0 55px 0 67px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials-item a {
  display: block;
  padding: 5px;
  margin-right: 17px;
}

.socials-item:nth-child(3n+3)  a{
  margin-right: 0;
}

.socials-item:last-child a {
  margin-left: 5px;
}

.socials-item a:focus {
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.socials-icon {
  fill: #83B3D3;
}

.socials-icon:hover {
  fill: #68A2CA;
}

.socials-icon:focus {
  fill: #68A2CA;
}

.socials-icon:active {
  opacity: 0.3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  margin-right: 53px;
  text-align: center;
}

.contact-phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contact-phone:hover {
  color: #756257;
}

.contact-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.contact-phone:active {
  opacity: 0.3;
}

.htmlacademy-logo {
  width: 115px;
  fill: #000;
  margin-bottom: 14px;
}

.htmlacademy-logo:hover {
  fill: #756257;
}

.htmlacademy-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-hotel-search {
  width: 715px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53px;
  height: 53px;
  padding: 0;
  top: 54px;
  right: 70px;
  background: #F2F2F2;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background: #E6E6E6;
  outline: none;
}

.modal-close-button:active .modal-close-svg {
  opacity: 0.3;
}

.modal-title {
  width: 499px;
  min-height: 67px;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 155px;
  min-height: 50px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.modal-form-input {
  width: 420px;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  background: #F2F2F2;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: 386px 50%;
  border: none;
  border-radius: 4px;
}

.modal-form-input:hover {
  background: #E6E6E6;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: 386px 50%;
}

.modal-form-input:focus {
  outline: 3px solid #83B3D3;
}

.modal-form-input:active {
  background: #FFFFFF;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: 386px 50%;
  outline: none;
}

.modal-text-error {
  width: 420px;
  min-height: 29px;
  margin: 0;
  margin-left: 155px;
  margin-bottom: 11px;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  color: #FF5757;
}

.modal-text-success {
  width: 420px;
  min-height: 29px;
  margin: 0;
  margin-left: 155px;
  margin-bottom: 11px;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
}

.modal-form-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.feeld-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-number-wrap {
  position: relative;
}

.modal-form-number {
  width: 133px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  background: #F2F2F2;
  border-radius: 4px;
}

.modal-form-number::-webkit-outer-spin-button,
.modal-form-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-form-number {
  -moz-appearance: textfield;
}

.modal-form-number:hover,
.modal-form-number:focus {
  -moz-appearance: number-input;
}

.button-plus {
  position: absolute;
  top: 13px;
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-minus {
  position: absolute;
  top: 12px;
  left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-plus:focus,
.button-minus:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.plus-svg,
.minus-svg {
  opacity: 0.3;
}

.button-plus:hover .plus-svg,
.button-minus:hover .minus-svg {
  opacity: 1;
}

.button-plus:active .plus-svg,
.button-minus:active .minus-svg {
  opacity: 0.2;
}

.modal-text-children {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97px;
  margin: 0;
  margin-left: 56px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.modal-form-button {
  display: block;
  width: 575px;
  min-height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border: none;
  border-radius: 10px;
}

.modal-form-button:hover {
  background: #68A2CA;
}

.modal-form-button:focus {
  outline: 3px solid #756257;
}

.modal-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* tooltip */

.tooltip {
  position: absolute;
  left: 54px;
  top: 15px;
}

.tooltip-toggle {
  width: 25px;
  height: 25px;
  padding: 0;
  display: block;
  border: none;
  border-radius: 50%;
  background: #83B3D3;
  background-image: url("../images/icons/tooltipe-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-toggle:hover {
  background: #68A2CA;
  background-image: url("../images/icons/tooltipe-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-text {
  display: none;
  position: absolute;
  top: 40px;
  left: -115px;
  width: 256px;
  height: 143px;
  padding: 15px 18px 18px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #333333;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.tooltip-text::before {
  position: absolute;
  top: -9px;
  left: 117px;
  content: "";
  width: 19px;
  height: 9px;
  background-image: url("../images/triangle.svg");
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
