@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* line break */
.decorative {
  display: block;
}


.page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/*header*/

.page-header {
  width: 1200px;
  font-weight: 700;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.sedona-logo {
  position: absolute;
  /* margin-right: 30px; */
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  margin: 0;
  margin-left: 169px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 265px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  /* outline: 1px solid black; */
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}
.navigation-link-current::before {
  content: "";
  position: absolute;
  /* width: 68px; */
  left: 17px;
  right: 17px;
  height: 2px;
  background: #756257;
  bottom: 0px;
}

.navigation-icon {
  position: absolute;
  top: 23px;
  left: 12px;
  fill: #000000;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: #756257;
  opacity: 0.3;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}

.navigation-user .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-btn-number {
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 24px;
  height: 20px;
  width: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  background: #7DB54F;
  color: #FFFFFF;
  border-radius: 50%;
}


.navigation-link-button {
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  margin-top: 14px;
  padding: 9px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  color: #FFFFFF;
  border-radius: 4px;
}

.navigation-link-button:hover {
  background: #615048;
}

.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
}

.navigation-link-button:focus {
  outline: 3px solid #83B3D3;
}

/*main-index*/

.main-index {
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}


.main-index-header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 79px;
  text-align: center;
  background-color: #FFFFFF;
  background: url("../images/divider.svg") 100% 428px no-repeat,
              url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto;
}
.main-index-header-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 146px;
}

.main-index-title {
  font-family: "PT Sans";
  width: 720px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.main-index-header p {
  width: 720px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantages {
  width: 1200px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #FFFFFF;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding-top: 98px;
}

.housing-icon {
  margin-bottom: 19px;
}

.food-icon {
  margin-top: 2px;
  margin-bottom: 19px;
}

.souvenirs-icon {
  margin-top: -4px;
  margin-bottom: 19px;
}

.advantages-item-with-icon {
  padding-top: 89px;
}

.advantages-item-with-icon .advantages-title {
  width: 250px;
  margin-bottom: 20px;
}

.advantages-item-image {
  width: 800px;
  height: 384px;
  box-sizing: border-box;
}

.advantages-img {
  display: block;
}

.advantages-title {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
}

.advantages-item-cold-light .advantages-description{
  width: 220px;
  margin: 0 auto;
}

.advantages-item-cold-light .advantages-text {
  color: #FFFFFF;
}

.advantages-item-cold-light,
.advantages-item-cold-light h2 {
  background: #83B3D3;
  color: #FFFFFF;
}

.advantages-item-cold-light12 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-cold-light20 {
  background: rgba(131, 179, 211, 0.2);
}

.hotel-search {
  width: 1200px;
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
  background-color: #FFFFFF;
}

.hotel-search-title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-size: 22px;
}

.hotel-search-link {
  display: inline-block;
  box-sizing: border-box;
  width: 575px;
  height: 60px;
  margin: 0 auto;
  padding: 15px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756257;
  border-radius: 10px;
}

.hotel-search-link:hover {
  background: #615048;
}

.hotel-search-link:focus {
  outline: 3px solid #83B3D3;
}

.hotel-search-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
}

.index-subscribe-newsletter {
  width: 1200px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/subscribe-newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index-subscribe-newsletter-title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.index-subscribe-newsletter-description {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-newsletter-container {
  display: flex;
  width: 800px;
  height: 60px;
  margin: 0 auto;
}


.main-index-input {
  width: 600px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.main-index-input:hover {
  background: #E6E6E6;
}

.main-index-input:focus {
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}

/* Стилизация ошибки ввода */
.main-index-input-invalid {
  outline: 2px solid #FF5757;
  background: #FFFFFF;
}

.button-subscribe {
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 0 10px 10px 0;
  border: none;
}

.button-subscribe:hover {
  background: #68A2CA;
}

.button-subscribe:focus {
  outline: 3px solid #756257;
}

.button-subscribe:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

/* main-catalog */

.main-catalog {
  width: 1200px;
}

.catalog-hotel-filter {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 30px 71px 83px 71px;
  color: #FFFFFF;
  background-color: #000000;
  background: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header-title {
  width: 528px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  position: relative;
  min-width: 200px;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-item:first-child::before {
  content: url("../images/icons/right-arrow.svg");
  position: absolute;
  left: 25px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.catalog-hotel-filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.catalog-hotel-filter-group {
  width: 150px;
  margin: 0;
  margin-right: 67px;
  padding: 0;
  border: none;
}

.catalog-hotel-filter-group:nth-child(2) {
  margin-right: 167px;
}

.catalog-hotel-filter-price {
  width: 287px;
  margin: 0;
  margin-right: 79px;
  padding: 0;
  border: none;
}

.catalog-hotel-filter-price .catalog-hotel-filter-title {
  margin-bottom: 34px;
}

.catalog-hotel-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}

.catalog-hotel-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

.catalog-hotel-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.form-button-contain {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 160px;
}

.button-submit {
  width: 160px;
  min-height: 48px;
  padding: 0;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border: none;
  border-radius: 4px;
}

.button-reset {
  width: 160px;
  padding: 0;
  background-color: inherit;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.catalog-sorting {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 53px;
  color: #000000;
  background: #FFFFFF;
}

.catalog-sorting-title {
  width: 338px;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-right: 190px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  margin-right: 80px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control:hover {
  border: 2px solid #83B3D3;
}

.select-control:focus {
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  color: #E6E6E6;
}

.catalog-sorting-button {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
}

.current-button {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-sorting-button:last-child {
  margin-right: 0;
}

.catalog-hotel {
  width: 1060px;
  margin: 0 auto;
  background: #FFFFFF;
}

.catalog-hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 299px);
  gap: 50px;
  width: 1060px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 34px;
  padding: 20px;
  list-style-type: none;
}

.catalog-hotel-card {
  display: grid;
  grid-template-columns: 133px 140px;
  grid-template-rows: 206px auto auto auto;
  gap: 16px 25px;
  width: 299px;
}

.catalog-hotel-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.catalog-hotel-title {
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.catalog-hotel-text {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-hotel-more {
  display: inline-block;
  padding: 9px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756257;
  border-radius: 4px;
}

.catalog-hotel-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border: none;
  border-radius: 4px;
}

.catalog-hotel-button-checked {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
  border: none;
  border-radius: 4px;
}

.catalog-hotel-star-rating {
  display: flex;
  grid-column: 1 / -1;
}

.rating {
  width: 160px;
  padding: 9px 0;
  margin-left: auto;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-more-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagination-more {
  display: block;
  width: 620px;
  margin: 0 auto;
  padding: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.pagination {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-current {
  background: #F2F2F2;
}

.pagination-current a {
  color: #000000;
}

.pagination-label-description {
  display: inline-block;
  margin-top: 16px;
  margin-right: 51px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-select-control {
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  border-radius: 4px;
}

.catalog-subscribe-newsletter {
  width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 141px;
  text-align: center;
  background: #FFFFFF;
}

.catalog-subscribe-newsletter-title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-subscribe-newsletter-description {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.catalog-index-input {
  width: 600px;
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

/*footer*/

.page-footer {
  width: 1200px;
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.socials {
  min-width: 107px;
  margin: 1px 47px 0 65px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials-item a {
  display: block;
  padding: 5px;
  margin-right: 17px;
}


.socials-item a:focus {
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}


.socials-icon {
  fill: #83B3D3;
}

.socials-icon:hover {
  fill: #68A2CA;
}

.socials-icon:focus {
  fill: #68A2CA;
}

.socials-icon:active {
  opacity: 0.3;
}

.contacts {
  display: flex;
  width: 720px;
  margin-right: 53px;
  text-align: center;
}

.contact-phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contact-phone:hover {
  color: #756257;
}

.contact-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.contact-phone:active {
  opacity: 0.3;
}

.htmlacademy-logo {
  width: 115px;
  fill: #000;
  margin-bottom: 14px;
}

.htmlacademy-logo:hover {
  fill: #756257;
}

.htmlacademy-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-link:active {
  opacity: 0.3;
}
